{% extends "layout.html" %}
{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-slate-100">Vista de Mesas</h1>
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    {% for table_info in tables_data %} 
    <a href="{{ url_for('mozo.table_detail_view', table_id=table_info.id) }}"
       class="p-4 border rounded-lg shadow-md text-center transition-all duration-200 ease-in-out transform hover:-translate-y-1 hover:shadow-xl
              {% if table_info.status == 'Vacía' %}
              bg-slate-700 hover:bg-slate-600 border-sky-800
              {% elif table_info.status == 'Ocupada' %}
              bg-amber-800 hover:bg-amber-700 border-amber-700
              {% elif table_info.status == 'Pendiente Pago' %}
              bg-emerald-800 hover:bg-emerald-700 border-emerald-700
              {% else %}
              bg-gray-900 hover:bg-gray-800 border-gray-800
              {% endif %}">
        
        <div class="text-2xl font-bold text-white">Mesa {{ table_info.number }}</div>
        <div class="text-sm mt-1 text-slate-300">Capacidad: {{ table_info.capacity }}</div>
        
        <div class="mt-2 text-sm font-semibold py-1 rounded-full
              {% if table_info.status == 'Vacía' %} bg-sky-500/20 text-sky-300
              {% elif table_info.status == 'Ocupada' %} bg-amber-500/20 text-amber-300
              {% elif table_info.status == 'Pendiente Pago' %} bg-emerald-500/20 text-emerald-300
              {% endif %}">
            {{ table_info.status }}
        </div>
        
        {% if table_info.status == 'Ocupada' %}
            {% if table_info.total_pedido_activo > 0 %}
                <div class="text-sm mt-2 text-white font-bold">Total: ${{ "%.2f"|format(table_info.total_pedido_activo) }}</div>
            {% else %}
                 <div class="text-xs mt-2 text-slate-400 italic">(Vacio)</div>
            {% endif %}
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endblock %}